<html>
  <head>
    <link rel=stylesheet href="/style.css" type="text/css" />
  </head>
  <body>
    <center>
      <h2>{{resource.color}}</h2>
      <div class="square" style="background:#{{resource.color}}"></div>
    </center>
  </body>
</html>
